.co {
    display: flex;

    .judulCO{
    font-weight: bold;
    margin-left: 40px;
    text-align: center;
    }
}

.table{
    margin-top: 5%;
    margin-left: 20%;
}



.button{
    background-color: #02A9B5;
      color: white;
      padding: 20px 32px;
      font-size: 17px;
      text-align: center;
      font-weight: bold;
      display: inline-block;
      cursor: pointer;
      border-radius: 12px;
}