.history {
    display: flex;
    justify-content: center;
    text-align: center;
}

.judulHistory{
    margin-top: 5px;
    font-weight: bold;
    margin-right: -600%;
}

.table{
    margin-top: 2%;
    margin-left: -100px;
    text-align: center;
}

td{
    font-size: 17px;
}

th{
    font-size: 25px;
}

h1{
    margin-left: auto;
    margin-right: auto;
}