.request {
    display: flex;
    justify-content: center;
    text-align: center;
}

.judulRequest{
    margin-top: 5px;
    font-weight: bold;
    margin-right: -10%;
}

.table{
    margin-top: 5%;
    margin-left: 5%;
    vertical-align: middle;
}

td{
    font-size: 17px;
}

th{
    font-size: 25px;
}

// h1{
//     margin-left: 12%;
// }